.nav {
    height: 50px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.47);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: solid 1px dimgrey;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav ul li a {
    margin: 5px 15px;
}

.rightSide {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    margin: 0 25px 0 10px
}